<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Search Result</title>
</head>
<body>
<h2>Result of your search</h2>
<div th:if="${nothing}">
    Sorry. Nothing was found.
</div>
<div th:each="instance : ${jsonMap}">
    <p th:text="${instance.value}">
        <span style="white-space: pre-line"></span>
    </p>
    <form th:action="|@{/catalogue/}${instance.key}|" method="get">
        <p>
            <input class="btn btn-success btn-block" type="submit" value="Go to Product"/>
        </p>
    </form>
</div>
</body>
</html>