<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title th:text="${title}"></title>
</head>
<body>
<div>
    <p th:text="${json}">
        <span style="white-space: pre-line"></span>
    </p>
    <div>
        <form th:action="|@{/management/category/}${categoryId}/edit|" method="GET">
            <p>
                <input class="btn btn-success btn-block" type="submit" value="Edit Category"/>
            </p>
        </form>
        <form th:action="|@{/management/category/}${categoryId}/delete|" method="GET">
            <p>
                <input class="btn btn-success btn-block" type="submit" value="Delete Category"/>
            </p>
        </form>
        <div>
            <a href="/management/maker">
                <button>Go back</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>