<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>Catalogue</title>
</head>
<body>
    <h2>Available products</h2>
    <div>
        <a href="/catalogue/search">
            <button>Go to Search</button>
        </a>
    </div>
    <div>
        <a href="/profile">
            <button>My Profile</button>
        </a>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <form th:action="|@{/catalogue/add}|" method="GET">
            <p>
                <input class="btn btn-success btn-block" type="submit" value="Add new Product"/>
            </p>
        </form>
    </div>
    <div th:each="instance : ${jsonMap}">
        <p th:text="${instance.value}">
            <span style="white-space: pre-line"></span>
        </p>
        <form th:action="|@{/catalogue/}${instance.key}|" method="get">
            <p>
                <input class="btn btn-success btn-block" type="submit" value="Go to Product"/>
            </p>
        </form>
    </div>
</body>
</html>